# Исследование надежности заемщиков.

## Обзор данных

In [1]:
import pandas as pd
data = pd.read_csv('\datasets\data.csv')
data

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,-4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791.862382,операции с жильем
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999.806512,сделка с автомобилем
21522,1,-2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672.561153,недвижимость
21523,3,-3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093.050500,на покупку своего автомобиля
21524,2,-1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047.418899,на покупку автомобиля

## Предобработка данных

### Пропуски значений

In [2]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В столбцах `days_employed` и `total_income` обнаружены пропуски, которые составляют 10% от количества строк. Скорее всего, данные по случайности не были внесены составителями изначально. В наших данных могут быть значения, которые сильно выделяются среди большинства, поэтому заполнять пропуски средним будет некорректно. Заполним их медианным значением.

In [3]:
sorted_days_employed = data.sort_values(by='days_employed')
days_emp_median = sorted_days_employed['days_employed'].median()
# медиана по общему трудовому стажу

In [4]:
sorted_total_income = data.sort_values(by='total_income')
total_inc_median = sorted_total_income ['total_income'].median()
# медиана ежемесячного дохода

In [5]:
data['days_employed'] = data['days_employed'].fillna(days_emp_median)
data['total_income'] = data['total_income'].fillna(total_inc_median)
# заполнение пропусков

In [6]:
data.isna().sum() # проверка

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Проверка данных на аномалии и исправления

In [7]:
columns = data.columns
for c in columns:
    print(c.upper(), '\n', data[c].unique(), '\n')
# вывод уникальных значений в столбцах для проверки данных

CHILDREN
 [ 1  0  3  2 -1  4 20  5]

DAYS_EMPLOYED
 [-8437.67302776 -4024.80375385 -5623.42261023 ... -2113.3468877
 -3112.4817052  -1984.50758853]

DOB_YEARS
 [42 36 33 32 53 27 43 50 35 41 40 65 54 56 26 48 24 21 57 67 28 63 62 47
 34 68 25 31 30 20 49 37 45 61 64 44 52 46 23 38 39 51  0 59 29 60 55 58
 71 22 73 66 69 19 72 70 74 75]

EDUCATION
 ['высшее' 'среднее' 'Среднее' 'СРЕДНЕЕ' 'ВЫСШЕЕ' 'неоконченное высшее'
 'начальное' 'Высшее' 'НЕОКОНЧЕННОЕ ВЫСШЕЕ' 'Неоконченное высшее'
 'НАЧАЛЬНОЕ' 'Начальное' 'Ученая степень' 'УЧЕНАЯ СТЕПЕНЬ'
 'ученая степень']

EDUCATION_ID
 [0 1 2 3 4]

FAMILY_STATUS
 ['женат / замужем' 'гражданский брак' 'вдовец / вдова' 'в разводе'
 'Не женат / не замужем']

FAMILY_STATUS_ID
 [0 1 2 3 4]

GENDER
 ['F' 'M' 'XNA']

INCOME_TYPE
 ['сотрудник' 'пенсионер' 'компаньон' 'госслужащий' 'безработный'
 'предприниматель' 'студент' 'в декрете']

DEBT
 [0 1]

TOTAL_INCOME
 [253875.6394526  112080.01410244 145885.95229686 ...  89672.56115303
 244093.05050043  82047.41889948]

PURPOSE
 ['покупка жилья' 'приобретение автомобиля' 'дополнительное образование'
 'сыграть свадьбу' 'операции с жильем' 'образование'
 'на проведение свадьбы' 'покупка жилья для семьи' 'покупка недвижимости'
 'покупка коммерческой недвижимости' 'покупка жилой недвижимости'
 'строительство собственной недвижимости' 'недвижимость'
 'строительство недвижимости' 'на покупку подержанного автомобиля'
 'на покупку своего автомобиля' 'операции с коммерческой недвижимостью'
 'строительство жилой недвижимости' 'жилье'
 'операции со своей недвижимостью' 'автомобили' 'заняться образованием'
 'сделка с подержанным автомобилем' 'получение образования' 'автомобиль'
 'свадьба' 'получение дополнительного образования' 'покупка своего жилья'
 'операции с недвижимостью' 'получение высшего образования'
 'свой автомобиль' 'сделка с автомобилем' 'профильное образование'
 'высшее образование' 'покупка жилья для сдачи' 'на покупку автомобиля'
 'ремонт жилью' 'заняться высшим образованием']

Видим несколько проблем:
1. в столбце `children` значения -1 и 20;
2. в стоблце `days_employed` отрицательные значения;
3. в столбце `dob_years` значение 0;
4. в столбце `education` дубликаты;
5. столбцы `purpose` и `total_income` следует для удобства разбить на категории.

Сначала исправим аномалии.

In [8]:
data.loc[data['children'] == 20]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
606,20,-880.221113,21,среднее,1,женат / замужем,0,M,компаньон,0,145334.865002,покупка жилья
720,20,-855.595512,44,среднее,1,женат / замужем,0,F,компаньон,0,112998.738649,покупка недвижимости
1074,20,-3310.411598,56,среднее,1,женат / замужем,0,F,сотрудник,1,229518.537004,получение образования
2510,20,-2714.161249,59,высшее,0,вдовец / вдова,2,F,сотрудник,0,264474.835577,операции с коммерческой недвижимостью
2941,20,-2161.591519,0,среднее,1,женат / замужем,0,F,сотрудник,0,199739.941398,на покупку автомобиля
...,...,...,...,...,...,...,...,...,...,...,...,...
21008,20,-1240.257910,40,среднее,1,женат / замужем,0,F,сотрудник,1,133524.010303,свой автомобиль
21325,20,-601.174883,37,среднее,1,женат / замужем,0,F,компаньон,0,102986.065978,профильное образование
21390,20,-1203.369529,53,среднее,1,женат / замужем,0,M,компаньон,0,145017.937533,покупка жилой недвижимости
21404,20,-494.788448,52,среднее,1,женат / замужем,0,M,компаньон,0,156629.683642,операции со своей недвижимостью
21491,20,-173.954460,27,среднее,1,женат / замужем,0,F,сотрудник,0,155520.899688,на покупку подержанного автомобиля

По статистике в России 23 750 000 семей с детьми, из которых в 943 более 11 детей. Я бы уточнила, ошибка в нашей выборке или нет. Пока примем за ошибку (в 21 год вероятность иметь столько детей очень мала) и уберем ноль.

In [9]:
data.loc[(data.children == 20), 'children'] = 2
data.loc[(data.children == -1), 'children'] = 1
# исправляем значения

In [10]:
data['days_employed'] = abs(data['days_employed'])
# убираем отрицательные значения в стаже работы

In [11]:
sorted_age = data.sort_values(by='dob_years')
age_median = sorted_age ['dob_years'].median()
data.loc[(data.dob_years == 0), 'dob_years'] = int(age_median)
# заполняем значение 0 в возрасте клиента медианным значением по выборке

### Удаление дубликатов

In [12]:
data.duplicated().sum()
# подсчёт явных дубликатов
print(f"Кол-во явных дубликатов:{data.duplicated().sum()}")

Кол-во явных дубликатов:55

In [13]:
data = data.drop_duplicates().reset_index(drop=True) 
# удаление явных дубликатов (с удалением старых индексов и формированием новых)
print(f"Кол-во явных дубликатов:{data.duplicated().sum()}") # проверка на отсутствие явных дубликатов

Кол-во явных дубликатов:0

In [14]:
data['education'] = data['education'].str.lower()
# обработка неявных дубликатов в столбце образование
data['education'].unique()

array(['высшее', 'среднее', 'неоконченное высшее', 'начальное',
       'ученая степень'], dtype=object)

### Категоризация целей кредита

Лучше всего токенизировать и лемматизировать строки, чтобы именно по леммам категоризировать цели кредита.

In [15]:
import pip
pip.main(['install', 'pymorphy2'])
import pymorphy2
morph = pymorphy2.MorphAnalyzer()
# импортируем пайморфи

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Requirement already satisfied: pymorphy2 in c:\users\js\anaconda3\lib\site-packages (0.9.1)
Requirement already satisfied: docopt>=0.6 in c:\users\js\anaconda3\lib\site-packages (from pymorphy2) (0.6.2)
Requirement already satisfied: dawg-python>=0.7.1 in c:\users\js\anaconda3\lib\site-packages (from pymorphy2) (0.7.2)
Requirement already satisfied: pymorphy2-dicts-ru<3.0,>=2.4 in c:\users\js\anaconda3\lib\site-packages (from pymorphy2) (2.4.417127.4579844)
Loading dictionaries from C:\Users\js\anaconda3\lib\site-packages\pymorphy2_dicts_ru\data
format: 2.4, revision: 417127, updated: 2020-10-11T15:05:51.070345

In [16]:
def purpose_column(purpose):
    
    '''функция принимает на вход цели кредита, 
    токенизирует, лемматизирует,
    по лемме категоризирует данные'''
    
    for w in purpose.split():
        w = morph.parse(w)[0].normal_form
        if w == 'образование':
            return 'получение образования'
        if w == 'автомобиль':
            return 'операции с автомобилем'
        if w == 'свадьба':
            return 'проведение свадьбы'
    return 'операции с недвижимостью'

data['purpose_category'] = data['purpose'].apply(purpose_column) # применяем функцию к датафрейму и создаем столбец

In [17]:
data.head(20) # проверка

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу,проведение свадьбы
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья,операции с недвижимостью
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем,операции с недвижимостью
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование,получение образования
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы,проведение свадьбы
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи,операции с недвижимостью
10,2,4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости,операции с недвижимостью
11,0,792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости,операции с недвижимостью
12,0,1203.369529,65,среднее,1,гражданский брак,1,M,пенсионер,0,145017.937533,сыграть свадьбу,проведение свадьбы
13,0,1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля,операции с автомобилем
14,0,1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости,операции с недвижимостью
15,1,972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости,операции с недвижимостью
16,0,1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость,операции с недвижимостью
17,0,2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости,операции с недвижимостью
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля,операции с автомобилем
19,0,10038.818549,48,среднее,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля,операции с автомобилем

### Изменение типов данных

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21470 entries, 0 to 21469
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21470 non-null  int64
 1   days_employed     21470 non-null  float64
 2   dob_years         21470 non-null  int64
 3   education         21470 non-null  object
 4   education_id      21470 non-null  int64
 5   family_status     21470 non-null  object
 6   family_status_id  21470 non-null  int64
 7   gender            21470 non-null  object
 8   income_type       21470 non-null  object
 9   debt              21470 non-null  int64
 10  total_income      21470 non-null  float64
 11  purpose           21470 non-null  object
 12  purpose_category  21470 non-null  object
dtypes: float64(2), int64(5), object(6)
memory usage: 2.1+ MB

Тип `float` в ежемесячном доходе затруднит дальнейшую работу, преобразуем его в `int`.

In [19]:
data['total_income'] = data['total_income'].astype('int')
data.info() # проверяем

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21470 entries, 0 to 21469
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21470 non-null  int64
 1   days_employed     21470 non-null  float64
 2   dob_years         21470 non-null  int64
 3   education         21470 non-null  object
 4   education_id      21470 non-null  int64
 5   family_status     21470 non-null  object
 6   family_status_id  21470 non-null  int64
 7   gender            21470 non-null  object
 8   income_type       21470 non-null  object
 9   debt              21470 non-null  int64
 10  total_income      21470 non-null  int32
 11  purpose           21470 non-null  object
 12  purpose_category  21470 non-null  object
dtypes: float64(1), int32(1), int64(5), object(6)
memory usage: 2.0+ MB

### Категоризация дохода

In [20]:
def income_column(income):
    
    '''функция создает столбец с категориями доходов на основании диапозонов'''
    
    if income <= 30000:
        return 'E'
    if income <= 50000:
        return 'D'
    if income <= 200000:
        return 'C'
    if income <= 1000000:
        return 'B'
    return 'A'

data['total_income_category'] = data['total_income'].apply(income_column)  # применяем функцию к датафрейму и создаем столбец

In [21]:
data.head(20) # проверка

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_category,total_income_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,операции с недвижимостью,B
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,операции с автомобилем,C
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,операции с недвижимостью,C
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,получение образования,B
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,проведение свадьбы,C
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,операции с недвижимостью,B
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,операции с недвижимостью,B
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,получение образования,C
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,проведение свадьбы,C
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,операции с недвижимостью,C
10,2,4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости,операции с недвижимостью,C
11,0,792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,операции с недвижимостью,C
12,0,1203.369529,65,среднее,1,гражданский брак,1,M,пенсионер,0,145017,сыграть свадьбу,проведение свадьбы,C
13,0,1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля,операции с автомобилем,C
14,0,1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,операции с недвижимостью,C
15,1,972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820,строительство собственной недвижимости,операции с недвижимостью,C
16,0,1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202,недвижимость,операции с недвижимостью,B
17,0,2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410,строительство недвижимости,операции с недвижимостью,C
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823,на покупку подержанного автомобиля,операции с автомобилем,C
19,0,10038.818549,48,среднее,1,в разводе,3,F,сотрудник,0,242831,на покупку своего автомобиля,операции с автомобилем,B

### Формирование дополнительных датафреймов словарей, декомпозиция исходного датафрейма

In [22]:
education_dict = data[['education', 'education_id']]
family_status_dict = data[['family_status','family_status_id']]
# создание словарей для дальнейшего обращения по идентификатору

In [23]:
data.drop(columns = ['education', 'family_status', 'total_income', 'purpose'],axis = 1, inplace=True)
# удаление 'лишних' столбцов

In [24]:
pd.options.display.max_rows = 22000 
data.head(200) # смотрим на итоговый датафрейм

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,purpose_category,total_income_category
0,1,8437.673028,42,0,0,F,сотрудник,0,операции с недвижимостью,B
1,1,4024.803754,36,1,0,F,сотрудник,0,операции с автомобилем,C
2,0,5623.422610,33,1,0,M,сотрудник,0,операции с недвижимостью,C
3,3,4124.747207,32,1,0,M,сотрудник,0,получение образования,B
4,0,340266.072047,53,1,1,F,пенсионер,0,проведение свадьбы,C
5,0,926.185831,27,0,1,M,компаньон,0,операции с недвижимостью,B
6,0,2879.202052,43,0,0,F,компаньон,0,операции с недвижимостью,B
7,0,152.779569,50,1,0,M,сотрудник,0,получение образования,C
8,2,6929.865299,35,0,1,F,сотрудник,0,проведение свадьбы,C
9,0,2188.756445,41,1,0,M,сотрудник,0,операции с недвижимостью,C
10,2,4171.483647,36,0,0,M,компаньон,0,операции с недвижимостью,C
11,0,792.701887,40,1,0,F,сотрудник,0,операции с недвижимостью,C
12,0,1203.369529,65,1,1,M,пенсионер,0,проведение свадьбы,C
13,0,1846.641941,54,2,0,F,сотрудник,0,операции с автомобилем,C
14,0,1844.956182,56,0,1,F,компаньон,1,операции с недвижимостью,C
15,1,972.364419,26,1,0,F,сотрудник,0,операции с недвижимостью,C
16,0,1719.934226,35,1,0,F,сотрудник,0,операции с недвижимостью,B
17,0,2369.999720,33,0,1,M,сотрудник,0,операции с недвижимостью,C
18,0,400281.136913,53,1,2,F,пенсионер,0,операции с автомобилем,C
19,0,10038.818549,48,1,3,F,сотрудник,0,операции с автомобилем,B
20,1,1311.604166,36,1,0,M,сотрудник,0,операции с недвижимостью,B
21,1,253.685166,33,1,1,F,сотрудник,0,операции с автомобилем,C
22,1,1766.644138,24,1,1,F,сотрудник,0,операции с автомобилем,C
23,0,272.981385,21,0,1,M,сотрудник,0,проведение свадьбы,C
24,1,338551.952911,57,1,4,F,пенсионер,0,операции с недвижимостью,B
25,0,363548.489348,67,1,0,M,пенсионер,0,операции с недвижимостью,C
26,0,1203.369529,41,1,0,M,госслужащий,0,получение образования,C
27,0,529.191635,28,0,0,M,сотрудник,0,операции с недвижимостью,B
28,1,717.274324,26,0,0,F,сотрудник,0,операции с недвижимостью,C
29,0,1203.369529,63,1,4,F,пенсионер,0,операции с недвижимостью,C
30,1,335581.668515,62,1,0,F,пенсионер,0,операции с недвижимостью,C
31,0,1682.083438,47,3,0,F,сотрудник,0,операции с недвижимостью,B
32,0,4649.910832,34,1,1,F,сотрудник,1,проведение свадьбы,C
33,0,1548.637544,48,1,0,F,компаньон,0,операции с недвижимостью,C
34,0,4488.067031,35,1,0,F,сотрудник,0,операции с недвижимостью,C
35,0,394021.072184,68,1,1,M,пенсионер,0,проведение свадьбы,C
36,0,176.216688,33,1,4,M,сотрудник,0,операции с автомобилем,C
37,0,6448.810860,43,0,1,F,компаньон,0,операции с автомобилем,C
38,0,597.881827,25,0,4,M,сотрудник,1,получение образования,C
39,0,650.587796,31,0,1,F,компаньон,0,получение образования,B
40,0,1030.362606,30,1,4,M,компаньон,0,операции с недвижимостью,C
41,0,1203.369529,50,1,0,F,госслужащий,0,операции с автомобилем,C
42,0,1257.496190,20,2,4,F,сотрудник,0,получение образования,C
43,0,4375.681384,43,2,3,F,компаньон,0,операции с автомобилем,B
44,1,1362.041728,26,1,0,F,сотрудник,0,операции с автомобилем,C
45,1,1039.451741,49,1,4,F,сотрудник,0,получение образования,C
46,2,2262.712304,37,1,0,F,компаньон,0,операции с автомобилем,C
47,1,2689.137274,33,0,1,M,госслужащий,0,проведение свадьбы,B
48,0,3341.067886,45,1,0,F,сотрудник,0,операции с недвижимостью,C
49,0,1181.443228,54,1,0,F,сотрудник,0,операции с автомобилем,D
50,0,353731.432338,63,1,0,F,пенсионер,0,операции с автомобилем,C
51,1,6953.631655,50,0,1,F,сотрудник,0,проведение свадьбы,B
52,1,3554.671526,28,1,0,F,сотрудник,0,получение образования,C
53,0,4219.883386,61,1,3,F,компаньон,0,операции с недвижимостью,B
54,0,3480.072793,27,0,1,F,сотрудник,0,операции с автомобилем,C
55,0,1203.369529,54,1,1,F,пенсионер,1,проведение свадьбы,C
56,0,370145.087237,64,1,2,F,пенсионер,0,получение образования,C
57,0,2424.809749,44,1,2,F,сотрудник,0,получение образования,C
58,0,335.318630,36,0,0,M,сотрудник,0,операции с недвижимостью,B
59,0,4341.786775,53,1,1,F,компаньон,0,операции с недвижимостью,B
60,1,2534.462390,48,1,0,M,сотрудник,0,получение образования,C
61,0,2986.202120,42,1,1,F,сотрудник,0,операции с недвижимостью,C
62,0,7845.649233,48,0,4,M,госслужащий,0,получение образования,B
63,0,1182.547744,45,1,0,F,сотрудник,0,операции с недвижимостью,C
64,0,118.891411,35,2,4,M,сотрудник,0,операции с автомобилем,B
65,0,1203.369529,21,1,4,M,компаньон,0,операции с недвижимостью,C
66,0,916.428829,28,1,0,M,сотрудник,0,получение образования,C
67,0,1203.369529,52,0,0,F,пенсионер,0,операции с недвижимостью,C
68,2,2152.475526,46,0,0,M,компаньон,0,операции с недвижимостью,B
69,0,779.228449,23,1,4,F,сотрудник,0,операции с недвижимостью,C
70,1,2802.226671,28,0,0,M,госслужащий,0,операции с недвижимостью,B
71,0,338113.529892,62,1,0,F,пенсионер,0,операции с автомобилем,D
72,1,1203.369529,32,0,0,M,госслужащий,0,операции с недвижимостью,C
73,0,1631.939403,40,1,1,M,сотрудник,0,получение образования,C
74,1,5110.543709,45,1,0,F,сотрудник,0,операции с недвижимостью,C
75,1,2953.151948,38,1,0,M,сотрудник,1,операции с недвижимостью,C
76,1,2252.192722,44,0,0,M,сотрудник,0,операции с автомобилем,C
77,0,726.943771,43,0,4,F,сотрудник,0,операции с автомобилем,C
78,0,359722.945074,61,0,0,M,пенсионер,0,операции с автомобилем,C
79,0,3278.296751,27,1,4,M,компаньон,0,операции с автомобилем,B
80,0,127.334942,25,1,4,F,компаньон,0,операции с автомобилем,C
81,0,204.673166,33,1,0,F,сотрудник,0,получение образования,C
82,2,1203.369529,50,0,0,F,сотрудник,0,операции с недвижимостью,C
83,0,1203.369529,52,1,0,M,сотрудник,0,операции с недвижимостью,C
84,0,7125.215028,53,1,0,F,госслужащий,0,операции с недвижимостью,B
85,0,275.993847,30,1,0,M,сотрудник,0,получение образования,C
86,0,383933.549664,64,1,1,M,пенсионер,0,проведение свадьбы,B
87,0,337659.535004,53,1,0,F,пенсионер,0,операции с недвижимостью,C
88,0,373129.789654,63,0,1,F,пенсионер,0,проведение свадьбы,B
89,0,72.625785,42,1,1,F,компаньон,0,операции с автомобилем,D
90,2,1203.369529,35,0,0,F,сотрудник,0,операции с недвижимостью,C
91,2,5010.997436,39,1,0,F,сотрудник,0,операции с недвижимостью,C
92,1,1669.279681,40,0,1,F,сотрудник,0,проведение свадьбы,C
93,1,1446.622542,32,1,0,M,сотрудник,1,операции с автомобилем,B
94,1,1203.369529,34,0,1,F,компаньон,0,проведение свадьбы,C
95,0,541.832241,51,0,0,F,сотрудник,0,операции с автомобилем,C
96,0,1203.369529,44,1,0,F,сотрудник,0,операции с недвижимостью,C
97,0,1203.369529,47,0,0,F,сотрудник,0,получение образования,C
98,0,364906.205736,54,0,0,F,пенсионер,0,операции с недвижимостью,C
99,0,346541.618895,42,1,0,F,пенсионер,0,операции с автомобилем,C
100,0,605.026441,49,1,2,F,сотрудник,1,операции с недвижимостью,C
101,0,391558.961849,65,1,0,F,пенсионер,0,операции с автомобилем,C
102,0,1377.447235,51,1,1,F,компаньон,0,операции с автомобилем,C
103,1,888.283347,39,1,4,F,сотрудник,0,операции с недвижимостью,C
104,0,366323.649429,59,1,4,F,пенсионер,0,операции с недвижимостью,C
105,0,2098.626296,62,1,2,F,сотрудник,0,операции с недвижимостью,C
106,1,300.642593,29,1,1,F,сотрудник,0,получение образования,C
107,0,1493.449117,24,0,1,F,компаньон,0,операции с недвижимостью,B
108,2,753.467042,33,0,1,F,сотрудник,0,операции с автомобилем,C
109,0,2147.472608,59,1,0,F,сотрудник,0,получение образования,C
110,0,413.982602,41,1,0,M,госслужащий,0,операции с недвижимостью,C
111,0,12930.541678,61,1,4,F,компаньон,0,операции с недвижимостью,C
112,1,1841.358094,28,0,0,M,сотрудник,0,операции с недвижимостью,B
113,0,6083.994730,52,1,0,F,госслужащий,0,получение образования,C
114,0,1599.879161,26,0,0,F,сотрудник,1,операции с недвижимостью,C
115,1,2523.847898,38,0,0,F,госслужащий,0,операции с недвижимостью,C
116,1,540.038425,50,1,0,M,сотрудник,0,операции с недвижимостью,C
117,0,3817.113295,41,1,3,F,сотрудник,0,операции с автомобилем,C
118,2,2774.655137,33,1,1,M,компаньон,0,проведение свадьбы,C
119,0,382189.129056,60,1,4,F,пенсионер,0,операции с недвижимостью,D
120,0,1203.369529,46,1,0,F,сотрудник,0,получение образования,C
121,0,1203.369529,29,0,0,F,компаньон,0,операции с автомобилем,C
122,0,171.162421,55,0,0,F,компаньон,0,операции с автомобилем,C
123,2,5718.708901,39,1,0,M,сотрудник,0,операции с недвижимостью,C
124,0,1080.514782,38,1,0,F,сотрудник,1,операции с недвижимостью,C
125,0,191.146746,64,0,1,F,компаньон,0,проведение свадьбы,C
126,1,2471.548552,49,1,0,M,компаньон,0,операции с недвижимостью,B
127,0,5229.552069,43,0,4,F,сотрудник,0,операции с недвижимостью,B
128,0,379035.920619,67,1,3,F,пенсионер,0,операции с автомобилем,C
129,0,361010.321350,61,1,1,M,пенсионер,0,операции с автомобилем,C
130,0,897.322806,42,1,0,F,компаньон,0,операции с недвижимостью,C
131,0,639.564708,58,1,0,M,сотрудник,0,получение образования,C
132,1,1306.428456,45,1,0,M,сотрудник,0,операции с автомобилем,B
133,0,344507.392785,64,1,0,F,пенсионер,0,получение образования,C
134,1,4171.107677,46,2,3,F,сотрудник,0,операции с недвижимостью,C
135,0,1203.369529,27,1,0,M,компаньон,0,операции с недвижимостью,C
136,0,357880.159379,60,3,0,M,пенсионер,0,операции с недвижимостью,C
137,1,1910.037592,28,0,1,M,сотрудник,0,проведение свадьбы,B
138,0,2572.053173,43,1,0,F,госслужащий,0,операции с недвижимостью,C
139,0,1765.557387,29,2,0,M,компаньон,0,операции с недвижимостью,C
140,0,3017.782065,24,1,1,F,сотрудник,0,операции с недвижимостью,C
141,0,1203.369529,39,1,1,M,сотрудник,0,проведение свадьбы,C
142,0,347947.835507,54,1,0,F,пенсионер,0,операции с автомобилем,C
143,0,1893.299829,48,1,2,F,сотрудник,0,операции с недвижимостью,C
144,1,2105.382664,45,1,1,F,сотрудник,0,операции с автомобилем,B
145,0,1203.369529,62,1,0,M,пенсионер,0,операции с недвижимостью,C
146,0,1302.026042,46,1,0,F,сотрудник,0,операции с недвижимостью,C
147,0,5772.479896,47,1,0,F,госслужащий,1,операции с недвижимостью,C
148,0,5050.292840,37,1,0,F,сотрудник,0,операции с автомобилем,C
149,0,2664.273168,42,1,3,F,сотрудник,0,операции с недвижимостью,C
150,0,393711.519923,71,1,1,F,пенсионер,0,проведение свадьбы,C
151,0,896.462371,37,0,1,F,компаньон,0,проведение свадьбы,B
152,1,3597.776388,39,1,0,F,компаньон,0,операции с недвижимостью,D
153,1,132.748536,20,1,0,M,компаньон,1,операции с недвижимостью,C
154,1,1803.930605,41,0,2,F,сотрудник,0,операции с недвижимостью,C
155,0,1208.596179,40,1,0,F,компаньон,0,получение образования,C
156,0,362366.857165,65,1,0,M,пенсионер,0,получение образования,B
157,0,348414.028009,38,1,0,F,пенсионер,1,операции с автомобилем,C
158,0,11001.589092,56,1,0,F,сотрудник,0,получение образования,C
159,0,371052.696813,59,1,4,F,пенсионер,0,операции с автомобилем,C
160,0,2063.223473,45,1,1,M,сотрудник,0,операции с недвижимостью,C
161,1,1147.591637,39,0,0,F,сотрудник,0,операции с автомобилем,C
162,0,3755.843042,62,1,0,M,сотрудник,0,получение образования,C
163,0,7473.902957,50,1,0,M,сотрудник,0,операции с недвижимостью,C
164,2,2357.523214,27,0,0,F,сотрудник,1,операции с автомобилем,B
165,2,1268.870686,32,0,0,M,госслужащий,0,операции с недвижимостью,B
166,0,450.061342,38,1,1,M,сотрудник,0,операции с недвижимостью,C
167,0,7219.276087,56,1,1,F,госслужащий,0,проведение свадьбы,B
168,0,361970.220505,67,1,2,F,пенсионер,0,операции с недвижимостью,C
169,0,372110.892953,58,1,1,F,пенсионер,0,операции с автомобилем,C
170,0,182.226723,28,0,4,M,сотрудник,0,операции с недвижимостью,C
171,0,9566.241471,60,1,1,F,компаньон,0,проведение свадьбы,B
172,0,4652.167869,49,1,0,F,сотрудник,0,операции с недвижимостью,C
173,0,9099.945305,49,1,0,M,компаньон,0,операции с недвижимостью,B
174,0,1203.369529,55,0,2,F,компаньон,0,операции с автомобилем,C
175,2,1734.741012,38,1,0,F,сотрудник,0,операции с недвижимостью,C
176,0,364178.254930,60,1,0,F,пенсионер,0,получение образования,C
177,2,2109.314691,48,1,0,M,госслужащий,0,операции с автомобилем,C
178,0,395728.361398,59,1,2,F,пенсионер,0,операции с автомобилем,C
179,0,1177.055383,43,1,4,F,сотрудник,0,операции с недвижимостью,C
180,0,60.637328,37,1,1,F,сотрудник,0,проведение свадьбы,B
181,0,1203.369529,26,1,1,F,компаньон,1,операции с недвижимостью,C
182,1,8164.333209,49,1,1,F,сотрудник,0,проведение свадьбы,C
183,1,166.265037,35,0,1,M,компаньон,1,получение образования,B
184,0,369682.222715,57,0,0,M,пенсионер,0,операции с недвижимостью,C
185,0,5026.229460,32,1,1,M,сотрудник,1,получение образования,C
186,0,225.123689,34,1,3,F,сотрудник,0,операции с недвижимостью,B
187,0,876.843110,46,0,1,F,сотрудник,0,получение образования,B
188,0,99.195947,48,1,0,M,сотрудник,0,операции с недвижимостью,C
189,1,1203.369529,30,1,4,F,сотрудник,0,операции с автомобилем,C
190,0,335.522956,26,1,1,M,компаньон,0,проведение свадьбы,C
191,0,336562.016432,60,1,0,F,пенсионер,0,получение образования,C
192,0,2573.136780,47,1,0,M,сотрудник,0,операции с автомобилем,B
193,0,386330.851136,60,0,3,F,пенсионер,0,операции с автомобилем,C
194,0,98.312162,24,1,1,M,компаньон,0,получение образования,C
195,0,117.127886,51,1,0,F,сотрудник,0,получение образования,B
196,0,1589.781401,37,0,0,F,компаньон,0,операции с недвижимостью,C
197,0,12136.131381,59,0,0,F,сотрудник,0,операции с недвижимостью,C
198,0,1403.080830,52,1,4,F,компаньон,0,операции с автомобилем,C
199,1,223.547018,23,1,2,F,сотрудник,0,операции с автомобилем,C

## Ответы на вопросы

### 1. Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [25]:
kids_debt = pd.DataFrame() # создаем новый датафрейм
kids_debt['clients with debt'] = data.groupby('children')['debt'].sum() # первый столбец - задолженности у клиентов с n детей
kids_debt['all clients'] = data.groupby('children')['debt'].count() # второй - всего клиентов с n детей
kids_debt['result'] = kids_debt['clients with debt'] / kids_debt['all clients'] # отношение задолженносте к кол-ву клиентов
kids_debt['percent'] = kids_debt['result'].apply(lambda x: format(x, '.2%')) # перевод в проценты
kids = kids_debt.sort_values(by='result') # сортировка по возрастанию
print(f'Подсчёт задолженностей по количеству детей:\n {kids}') # вывод датафрейма

Подсчёт задолженностей по количеству детей:
           clients with debt  all clients    result percent
children
5                         0            9  0.000000   0.00%
0                      1063        14106  0.075358   7.54%
3                        27          330  0.081818   8.18%
1                       445         4856  0.091639   9.16%
2                       202         2128  0.094925   9.49%
4                         4           41  0.097561   9.76%

По последним трем значениям видно, что чем больше детей в семье, тем выше процент задолженностей среди клиентов, при этом чаще всего в срок платят клиенты без детей. Клиентов с пятью детьми слишком мало, чтобы делать выводы.

### 2. Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [26]:
fam_status_debt = pd.DataFrame()
fam_status_debt['clients with debt'] = data.groupby('family_status_id')['debt'].sum()
fam_status_debt['all clients'] = data.groupby('family_status_id')['debt'].count()
fam_status_debt['result'] = fam_status_debt['clients with debt'] / fam_status_debt['all clients']
fam_status_debt['percent'] = fam_status_debt['result'].apply(lambda x: format(x, '.2%'))
fam = fam_status_debt.sort_values(by='result')
print(f'Подсчёт задолженностей по семейному статусу:\n {fam}')

Подсчёт задолженностей по семейному статусу:
                   clients with debt  all clients    result percent
family_status_id
2                                63          959  0.065693   6.57%
3                                85         1195  0.071130   7.11%
0                               931        12344  0.075421   7.54%
1                               388         4162  0.093224   9.32%
4                               274         2810  0.097509   9.75%

In [27]:
family_status_dict.value_counts() # посмотрим значение статусов

family_status          family_status_id
женат / замужем        0                   12344
гражданский брак       1                    4162
Не женат / не замужем  4                    2810
в разводе              3                    1195
вдовец / вдова         2                     959
dtype: int64

Меньше всего задолженностей у тех, кто состоял, либо состоит в браке. Не состоящие в браке клиенты чаще не платят в срок.

### 3. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [28]:
income_debt = pd.DataFrame()
income_debt['clients with debt'] = data.groupby('total_income_category')['debt'].sum()
income_debt['all clients'] = data.groupby('total_income_category')['debt'].count()
income_debt['result'] = income_debt['clients with debt'] / income_debt['all clients']
income_debt['percent'] = income_debt['result'].apply(lambda x: format(x, '.2%'))
income = income_debt.sort_values(by='result')
print(f'Подсчёт задолженностей по уровню дохода:\n {income}')

Подсчёт задолженностей по уровню дохода:
                        clients with debt  all clients    result percent
total_income_category
D                                     21          350  0.060000   6.00%
B                                    356         5041  0.070621   7.06%
A                                      2           25  0.080000   8.00%
C                                   1360        16032  0.084830   8.48%
E                                      2           22  0.090909   9.09%

Зависимости от уровня дохода нет. По нашим данным больше всего должников с уровнем дохода меньше 30000, при этом отличие от категории "А" всего один процент. Чаще платят в срок клиенты с уровнем дохода в диапозоне 30000 - 50000, разница с минимальным значением равна 3 процентам.

### 4. Как разные цели кредита влияют на его возврат в срок?

In [29]:
purpose_debt = pd.DataFrame()
purpose_debt['clients with debt'] = data.groupby('purpose_category')['debt'].sum()
purpose_debt['all clients'] = data.groupby('purpose_category')['debt'].count()
purpose_debt['result'] = purpose_debt['clients with debt'] / purpose_debt['all clients']
purpose_debt['percent'] = purpose_debt['result'].apply(lambda x: format(x, '.2%'))
purpose = purpose_debt.sort_values(by='result')
print(f'Подсчёт задолженностей по цели кредита:\n {purpose}')

Подсчёт задолженностей по цели кредита:
                           clients with debt  all clients    result percent
purpose_category
операции с недвижимостью                782        10814  0.072314   7.23%
проведение свадьбы                      186         2334  0.079692   7.97%
получение образования                   370         4014  0.092177   9.22%
операции с автомобилем                  403         4308  0.093547   9.35%

Видна зависимость от цели кредита. Клиенты, берущие кредит на недвижимость и свадьбу платят в срок чаще тех, кто хочет получить образование или приобрести автомобиль.

## Общий вывод

Выявлена зависимость оплаты кредита в срок от семейного статуса. Люди, которые не состояли в браке, вероятнее всего совершат несвоевременую оплату. При этом клиенты, состоящие в браке и без детей чаще становятся пунктуальными плательщиками.

Больше всего задолженностей выявлено у клиентов, взявших кредит на автомобиль, меньше всего у тех, целью кредита которых была недвижимость.

Уровень дохода влияет на платежи меньше всего.